.wrapper {
	max-width: $maxWidth;
	margin:0 auto;
	padding:0 10px;
	position: relative;
	@include breakpoint(widescreen) {
		padding:0;
	}
}
.no-wrapper {
	@include clearfix();
	position: relative;
}
.padded {
	padding:0 $padding/2;
	@include breakpoint(desktop) {
		padding:0 $padding;
	}
}
.align-right {
	text-align: right;
}
.row {
	@include clearfix();
}
.grid {
	@include clearfix();
	overflow: hidden;
	@include breakpoint(tablet) {
    	margin-left: -$gutter; /* same as your gutter */
	}
}
.grid__box {
	@include clearfix();
	overflow: hidden;
	margin-left: -15px;
	@include breakpoint(tablet) {
    	margin-left: $gutter;
	}
}
.space {
	margin-bottom:$padding;
}
.grid-col {
	float: left;
	width:100%;
	@include breakpoint(tablet) {
		padding-left: $gutter;
	}
}
.grid__box-col {
	float: left;
	width:100%;
	padding-left: 15px;
	@include breakpoint(tablet) {
		padding-left: $gutter;
	}
}
.box {
	width: 50%;
}
.col-1-2 {
	width:100%;
	@include breakpoint(tablet) {
		width:50%;
	}
}
.align-right {
	@include breakpoint(tablet) {
		text-align:right;	
	}
}