
/* ==========================================================================
   Layout
   ========================================================================== */
$space: 70px;
$maxWidth: 960px;
$gutter: 40px;
$padding: 40px;
$borderValue: 4px;
$distance: 20px;

/* ==========================================================================
   Colors
   ========================================================================== */

$black: #494646;
$grey: #847e7e;
$bg: #F2F1F1;
$pink: #FC1F70;
$lightPink: #EDD4DC;
$border: #E0E0E0;
$green: #1FE145;