
/* ==========================================================================
   Layout
   ========================================================================== */
$space: 70px;
$maxWidth: 1162px;
$gutter: 40px;
$padding: 40px;

/* ==========================================================================
   Colors
   ========================================================================== */

$black: #494646;
$grey: #ACA8A8;
$bg: #F2F1F1;
$pink: #FC1F70;
$lightPink: #EDD4DC;
$border: #E0E0E0;