@import "normalize.scss";
@import "mixins.scss";
@import "vars.scss";



/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
	font-family:'bt_mono';
	src: url('../fonts/bt_mono-Bold_gdi.eot');
	src: url('../fonts/bt_mono-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bt_mono-Bold_gdi.woff') format('woff'),
		url('../fonts/bt_mono-Bold_gdi.ttf') format('truetype'),
		url('../fonts/bt_mono-Bold_gdi.svg#bt_mono-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family:'bt_mono';
	src: url('../fonts/bt_mono-Regular_gdi.eot');
	src: url('../fonts/bt_mono-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bt_mono-Regular_gdi.woff') format('woff'),
		url('../fonts/bt_mono-Regular_gdi.ttf') format('truetype'),
		url('../fonts/bt_mono-Regular_gdi.svg#bt_mono-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}


/* ==========================================================================
   Resetting stuff
   ========================================================================== */

*, :before, :after {
	box-sizing: border-box;
}
html {
	height: 100%;
	font-size: 62.5%;
}
body {
	background-color: #F2F1F1;
	font-family:'bt_mono', Courier, monospace;
	font-weight:400;
	font-style:normal;
	margin:0;
	padding:0;
	color: $black;
	@include font-size(1.6);
	line-height:23px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
img {
  max-width: 100%;
  height: auto;
  border:none;
  vertical-align: middle;
}

/* ==========================================================================
   Global
   ========================================================================== */
ul {
	list-style: none;
	margin:0;
	padding:0;
}
a {
	text-decoration:none;
	transition: color 0.5s ease;
	outline: 0;
}
p {
	margin: 16px 0;
	@include setFont(1.6, 1.8, true);
	a {
		color: $black;
		&:hover {
			color: $pink;
		}
	}
}
a:hover, a:active, a:focus {
	outline: none;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	letter-spacing:2px;
}
.display-table {
	display:table;
	height: 100%;
	width: 100%;
	min-height:100%;
}
.centered {
	text-align:center;
}
@import "layout.scss";

/* ==========================================================================
  Home Page
  ========================================================================== */

.header {
	margin: 30px 0 45px 0;
}
.logo {
	display:inline-block;
	vertical-align:middle;
	a {
		display:block;
		transition:opacity 0.5s ease;
		max-width: 66px;
		&:hover {
			opacity:0.5;
		}
	}
}
.card-intro{
	display:inline-block;
	vertical-align:middle;
	text-align: left;
	margin-left: 30px;
	padding: 35px;
	background-color: #fff;
	box-shadow: 0 2px 9px 3px rgba(192, 187, 187, .11);
	border-radius: $borderValue 0  0 $borderValue;
	border-right: 4px solid $pink;
	@include breakpoint(mobile) {
		max-width: 540px;
	}
	h1 {
		@include setFont(2.4, 3.4);
		letter-sapcing:4px;
		line-height:28px;
		text-transform:uppercase;
		margin:0 0 5px 0;
	}
	h2 {
		@include setFont(1.8, 2.4);
		line-height:23px;
		letter-sapcing:0.8px;
		font-weight:400;
		margin: 0;
		color: $grey;
		& > span {
			color: $pink;
			font-weight:700;
		}
	}
}
.status {
	margin: 35px 0 20px 0;
	> * {
		display: inline-block;
		vertical-align: middle;
	}
	span {
		@include setFont(1.8, 2.3);
		font-weight: 700;
		color: $grey;
		margin-right: 10px;
	}
}
.status__signal {
	position: relative;
	background: #45453f;
}
.status__label {
	margin-left: 10px;
	@include setFont(1.3, 1.6);
	color: $grey;
}
.pulse {
	width: 16px;
	height: 16px;
	border: 1px solid $pink;
	border-radius: 30px;
	background-color: $lightPink;
	z-index: 10;
	position: absolute;
	top: -8px;
	left: -8px;
}
.dot {
	border: 10px solid $pink;
	background: transparent;
	border-radius: 60px;
	height: 50px;
	width: 50px;
	animation: pulse 3s ease-out;
	animation-iteration-count: infinite;
	position: absolute;
	top: -25px;
	left: -25px;
	z-index: 1;
	opacity: 0;
}
.status {
	&.status__available {
		.pulse {
			border-color: $green;
			background-color: lighten($green, 20%);
		}
		.dot {
			border-color: $green;
		}
	}
}
.cta-wrapper {
	position: relative;
	max-width: 138px;
	display: block;
	background-color: #fff;
	> span {
		width: 100%;
		border:1px solid $pink;
		position: absolute;
		top:6px;
		bottom: -6px;
		left: -6px;
		display: block;
		transition: all 0.5s ease;
	}
	@include breakpoint(mobile) {
		max-width: 180px;
	}
}
.cta {
	border: 1px solid $pink;
	text-transform: uppercase;
	@include setFont(1.4, 1.8);
	line-height: 14px;
	font-weight: 700;
	text-align: center;
	color: $pink;
	transition: all 0.5s ease;
	padding: 10px 4px;
	width: 100%;
	background-color: #fff;
	position: relative;
	z-index: 2;
	@include breakpoint(mobile) {
		padding: 15px 4px;
	}
}
.cta-wrapper:hover {
	> span {
		transform: translate(3px, -3px);
	}
	.cta {
		background-color: $pink;
		color: #fff;
	}
}
.section {
	margin: 55px 0 0 0;
}
.small-heading {
	text-transform: uppercase;
	@include setFont(1.8, 2.4);
	margin: 0;
	font-weight: 700;
}
.content {
	margin-bottom: $padding;
	p {
		padding-left: $distance;
		&:last-of-type {
			margin-bottom: 0;
		}
		@include breakpoint(desktop) {
			padding-left: $distance*2;
		}
	}
}
.highlight {
	font-weight: 700;
	color: $pink;
}
.content__links {
	a, span {
		display:block;
	}
	p {
		padding-left: $distance;
		&:last-of-type {
			margin-bottom: 0;
		}
		@include breakpoint(desktop) {
			padding-left: $distance*2;
		}
	}
}

/* ==========================================================================
   SKILLS
   ========================================================================== */
.left-distance {
	@include breakpoint(desktop) {
		padding-left: $distance*2;
	}
}
.box__content {
	background-color: #fff;
	box-shadow: 0 2px 9px 3px rgba(192, 187, 187, .11);
	border-radius: $borderValue $borderValue 0 0;
	border-bottom: 2px solid $pink;
}
.grid__box {
	padding-left: $distance;
	@include breakpoint(tablet) {
		padding-left: 0;
	}
	margin-top: 25px;
}
.grid__box + .grid__box  {
	margin-top: 15px;
}
.box__content {
	text-align: center;
	padding: 44px 5px;
	cursor: pointer;
	h4 {
		margin:8px 0 0 0;
		color: $grey;
		@include setFont(1.4, 1.7, true);
		transition: color 0.5s ease;
	}
	&:hover h4 {
		color: $pink;
	}
}
.list-wrapper {
	background-color: #fff;
	box-shadow: 0 2px 9px 3px rgba(192, 187, 187, .11);
	border-radius: $borderValue;
	margin-top: 25px;
	margin-left: $distance;
	@include breakpoint(tablet) {
		margin-left: 0;
	}
	li {
		border-bottom: 1px solid $bg;
		&:last-of-type {
			border-bottom: none;
		}
		a {
			padding: 15px 20px;
			display: block;
			position: relative;
			&:after {
				content: "";
				width: 10px;
				height: 10px;
				background: url('../img/arrow.svg') no-repeat center center;
				position: absolute;
				top:10px;
				right:10px;
				opacity: 0;
				transition: opacity 0.5s ease;
			}
			span {
				display: block;
				color: $black;
				transition: color 0.5s ease;
				&:first-of-type {
					@include setFont(1.8, 2, true);
					font-weight: 700;
				}
				&:last-of-type {
					@include setFont(1.3, 1.8, true);
				}
			}
			&:hover span {
				color: $pink;
			}
			&:hover {
				&:after {
					opacity: 1;
				}
			}
		}
	}
}
.touch .list-wrapper li a:after {
	opacity: 1;
}
.space-center {
	margin-top: 20px;
	.cta-wrapper {
		margin: 0 auto;
	}
}
.hidden {
	display: none;
}


/* ==========================================================================
   OVERLAY
   ========================================================================== */

.overlay {
	position: fixed;
	background-color: $pink;
	top:0;
	left:0;
	bottom:0;
	width: 100%;
	z-index: 11;
	opacity: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
	transform: translateY(-100%);
	&.overlay-at-the-end {
		opacity: 1;
		transform: translateY(0);
	}
	&.overlay-at-the-beginning {
		opacity: 0;
		transform: translateY(100%);
	}
}
.overlay-content {
	margin: 20px auto;
	max-width: $maxWidth;
	opacity: 0;
	transition: opacity 0.5 ease;
	&.overlay-content__visible {
		opacity: 1;
	}
	h3 {
		color: #fff;
		text-transform: uppercase;
		@include setFont(2.6, 3, true);
		margin: 0;
	}
	h4 {
		color: #fff;
		@include setFont(2, 2.3, true);
		margin: 0 0 0 $padding/2;
		@include breakpoint(tablet) {
			margin: 0 0 0 $padding;
		}
	}
	ul {
		margin: $padding 0 0 $padding/2;
		@include breakpoint(tablet) {
			margin: $padding 0 0 $padding;
		}
		li {
			color: #fff;
			@include setFont(1.8, 2, true);
			margin-bottom: 5px;
		}
	}
}
.ov-hidden {
	overflow: hidden;
}
.line {
	border: none;
	display: block;
	height: 1px;
	background-color: #fff;
	margin-top: $padding;
}
.close {
	display: block;
	text-align: right;
	color : #fff;
	@include setFont(1.4, 1.4);
	font-weight: 700;
	margin-bottom: $padding/2;
	transition: opacity 0.5s ease;
	&:hover {
		opacity: 0.5;
	}
}


/* ==========================================================================
   BANNER
   ========================================================================== */
.banner {
	background-color: $pink;
	position: fixed;
	left:0;
	width: 100%;
	z-index: 16;
	top: 0;
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
	transform: translateY(-100%);
	&.overlay-at-the-end {
		opacity: 1;
		transform: translateY(0);
	}
}
.banner__content {
	padding:10px;
	text-align: center;
	p {
		color: #fff;
		margin: 0 0 10px 0;
		font-weight: 700;
	}
	a {
		display: inline-block;
		border: 1px solid #fff;
		padding: 5px;
		text-transform: uppercase;
		font-weight: 700;
		width: 40px;
		height: 30px;
		line-height: 20px;
		color: #fff;
		margin-right: 10px;
		&:last-of-type {
			margin-right: 0;
		}
	}
}
@import "animations.scss";
@import "footer.scss";
